<nav class="navbar navbar-expand-lg fixed-top navbar-color">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><img src="../../../assets/pixabay.png" alt="logo_pixabay" width="105px" height="48px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="avengers"><img src="../../../assets/avengers.png" alt="avengers" width="105px" height="48px"> Avengers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="captain-america"><img src="../../../assets/captain_america.png" alt="captain_america" width="105px" height="48px"> Capitan America</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="iron-man"><img src="../../../assets/iron_man.png" alt="iron_man" width="105px" height="48px"> Iron Man</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="spiderman"><img src="../../../assets/spiderman.png" alt="spiderman" width="105px" height="48px"> Spiderman</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="thor"><img src="../../../assets/thor.png" alt="lthor" width="105px" height="48px"> Thor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="search" style="display: flex; align-items: center;"><i class="bi bi-search"></i><span style="margin-left: 5px;">Otros</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
